.twemoji-wrap { position: relative; }
.twemoji-wrap img { margin: 0 .05em 0 .1em; vertical-align: -0.1em; }
.twemoji-textarea { background-color: #FFF; border: 1px solid #ccc; border-radius: 3px; height: 100%; padding: 6px 30px 6px 12px; overflow-y: scroll; }
.twemoji-textarea[contentEditable=true]:empty:before { content: attr(placeholder); }
.twemoji-icon-picker img { position: absolute; right: 21px; top: 6px; }
.twemoji-picker { background-color: #fff; border: 1px solid #e7e7e7; border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); position: absolute; right: 0; z-index: 1; }
.twemoji-icon-picker img, .twemoji-picker img { cursor: pointer; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.twemoji-picker-category { background-color: #e7e7e7; }
.twemoji-picker-category img { padding: 5px; }
.twemoji-picker-category .active, .twemoji-picker-category span:hover { border-bottom: 2px solid #728691; line-height: 22px; }
.twemoji-picker-category .close { cursor: pointer; float: right; font-size: 25px; font-weight: 700; line-height: 1; margin-right: 2px; opacity: .5; }
.twemoji-picker-category .close:hover { opacity: .3 }
.twemoji-list { overflow-y: scroll; }
.twemoji-list img { margin-top: 2px; padding: 5px; }
.twemoji-list img:hover { background-color: #e7e7e7; }
